# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####
matplotlib>=3.0.0
scipy>=1.2.1
numpy>=1.16.2
click

# hitting set solver
python-sat[pblib,aiger]

#### TESTING-RELATED PACKAGES ####
# We'll use pytest to run our tests; this isn't really necessary to run the code, but it is to run
# the tests.  With this here, you can run the tests with `pytest` from the base directory.
pytest
